{% extends 'user/userdetailsview.html' %}

{% load static %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Userpage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'viewcart' %}">View cart</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search" method="get" action="{% url 'usersearch' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<table class="table">
  <thead>
    <tr>
        <th scope="col">No.</th>
      <th scope="col">Book name</th>
      <th scope="col">Book price</th>
      <th scope="col">Author</th>
        <th scope="col">Quantity</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
        {% for book in page %}
       <tr>
            <th scope="row">{{forloop.counter}}</th>
           <td>{{ book.title }}</td>
           <td>{{ book.price }}</td>
           <td>{{ book.author }}</td>
           <td>{{ book.quantity }}</td>
           <td><a href="{% url 'details' book.id %}" class="btn btn-primary">Details</a>
           <a href="{% url 'update' book.id %}" class="btn btn-success">Update</a>
           <a href="{% url 'delete' book.id %}" class="btn btn-danger">Delete</a></td>

           <td><a href="{% url 'userdetails' book.id %}" class="btn btn-outline-primary">Details</a></td>
           <td><a href="{% url 'add_to_cart' book.id %}" class="btn btn-outline-warning">Add to cart</a></td>

       </tr>

   {% endfor %}

  </tbody>
</table>

<nav aria-label="Page navigation example">
  <ul class="pagination">
      {% if page.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.previous.page_number }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
      {% endif %}

      {% for num in page.paginator.page_range %}

    <li class="page-item {% if page_number == num %}activate{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>

      {% endfor %}

      {% if page.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
      {% endif %}
  </ul>
</nav>

</body>
</html>

 {% endblock %}



